#breadcrumbs {
	display: inline-flex;
	flex-wrap: nowrap;
	margin-left: .25rem;
}

#breadcrumbs>#dir {
	display: inline-flex;
	flex-wrap: nowrap;
	transition: width .2s ease, opacity .5s ease;
}

#breadcrumbs>#dir:not(:empty) {
	width: 1rem;
}

#breadcrumbs:not(:hover)>#dir:not(:empty) {
	color: transparent;
	background: url(../images/ellipsis.png) no-repeat center center;
	background-size: 1rem;
	opacity: .5;
}

#breadcrumbs:hover>#dir {
	width: unset;
	color: currentColor;
}

#breadcrumbs .crumb {
	margin: .25rem 0;
}

#breadcrumbs .crumb:not(:empty) {
	height: calc(100% - .5rem);
	display: inline-flex;
	align-items: center;
	padding: 0 .5rem;
	border-radius: .25rem;
	cursor: pointer;
}

#breadcrumbs .crumb:not(:empty):hover {
	background-color: rgba(0, 0, 0, .1);
}

#breadcrumbs .spacer {
	width: 1rem;
	height: 100%;
	background: url(../images/forward.png) no-repeat center center;
	display: inline-block;
}