:root {
	--windowBorderRadius: 8px;
	--window-border-radius: var(--windowBorderRadius);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

:focus {
	outline: none;
}

input {
	font: inherit;
}

button {
	cursor: pointer;
}

[disabled] {
	opacity: .5;
	pointer-events: none;
}