#itemList {
	--scrollbarBorderRadius: 0;
	--scrollbar-border-radius: var(--scrollbarBorderRadius);
	display: flex;
	flex: 0 0 calc(100% - 20rem);
	flex-wrap: wrap;
	align-content: flex-start;
	padding: .25rem;
	background: #F9F9F9;
	overflow-y: auto;
	user-select: none;
}

html:not(.fullscreen) #itemList {
	border-radius: 0 0 var(--windowBorderRadius) 0;
}

#itemList>li {
	margin: .5rem;
	padding: 1rem;
	padding-top: 2rem;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	cursor: pointer;
	width: 14rem;
	height: 14rem;
	transition: background-color .1s ease;
	overflow: hidden;
}

#itemList>li.invisible {
	opacity: 0;
}

@keyframes popin {
	from {
		opacity: 0;
		transform: translateY(1rem);
	} to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#itemList>li:hover,
#itemList>li:focus {
	background: rgba(var(--windowTitlebarColour), .1);
}

#itemList>li>* {
	width: 100%;
}

#itemList>li>h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.25rem;
}

#itemList>li>p {
	line-height: 1.3rem;
}

#itemList>li>canvas {
	transform: scale(.888);
}

#itemList>li.errOccured {
	color: rgb(255, 50, 101);
}

#itemList>li.errOccured:hover,
#itemList>li.errOccured:focus {
	background: rgba(255, 50, 101, .2);
	opacity: .5;
}

#itemList>li.errOccured>h2 {
	text-decoration: line-through;
}

#itemList>li>figure {
	perspective: 1000px;
	overflow: hidden;
	height: 4rem;
}

#itemList>li.containsImage>figure {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(45deg, #E9E9E9 25%, transparent 25%), linear-gradient(-45deg, #E9E9E9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #E9E9E9 75%), linear-gradient(-45deg, transparent 75%, #E9E9E9 75%);
	background-size: 32px 32px;
	background-position: 0 0, 0 16px, 16px -16px, -16px 0px;
	transition: width .2s ease, height .2s ease;
}

#itemList>li.containsImage:hover>figure,
#itemList>li.containsImage:focus>figure {
	background: none;
	overflow: unset;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#itemList>li.containsImage h2,
#itemList>li.containsImage p {
	transition: filter .33s ease;
	z-index: 0;
}

#itemList>li.containsImage:hover h2,
#itemList>li.containsImage:focus h2,
#itemList>li.containsImage:hover p,
#itemList>li.containsImage:focus p {
	filter: blur(4px);
}

#itemList>li.containsImage:hover img,
#itemList>li.containsImage:focus img {
	max-width: 100%;
}

#itemList>li>figure>svg,
#itemList>li>figure>img {
	max-width: 4rem;
	transition: all .2s ease;
}

#itemList>li>figure>svg>path {
	transition: all .1s ease-out;
	transform-origin: bottom;
	transform-style: preserve-3d;
}

#itemList>li:hover>figure>svg>path:first-of-type {
	transform: rotateX(-15deg);
}

#itemList>li:hover>figure>svg>path:last-of-type {
	transform: rotateX(50deg);
}

#itemList::-webkit-scrollbar {
	background: rgba(var(--windowTitlebarColour), .1);
	border-radius: 0 0 calc(var(--windowBorderRadius) - 2px) 0;
	width: 1rem;
	transition: all .2s ease;
}

#itemList::-webkit-scrollbar-thumb {
	background: rgba(var(--windowTitlebarColour), .8);
	border-radius: 0 0 var(--scrollbarBorderRadius) 0;
}

#itemList::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--windowTitlebarColour), 1);
	border-radius: 0 0 var(--scrollbarBorderRadius) 0;
}