#quickFind {
	background: rgba(249, 249, 249, .95);
	height: 100%;
	width: 20rem;
}

html:not(.fullscreen) #quickFind {
	border-radius: 0 0 0 var(--windowBorderRadius);
}

#quickFind>li {
	cursor: pointer;
	padding: .5rem 1rem;
}

#quickFind>li:hover,
#quickFind>li:focus {
	color: white;
	background-color: rgb(var(--windowTitlebarColour));
}