:root {
	font-size: 12px;
	line-height: 1.5rem;
}

html, body, #appContainer {
	height: 100%;
}

html:not(.fullscreen) {
	padding: .5rem;
}

#appContainer {
	box-shadow: 0 .1rem .5rem .1rem rgba(0, 0, 0, .25);
	border-radius: var(--windowBorderRadius);
	display: flex;
	flex-wrap: wrap;
	font-family: "Varela Round", sans-serif;
	font-weight: 300;
}

#appcontainer:not(.fullscreen) {
	border-radius: 0;
}

#appcontainer.unfocussed {
	opacity: .5;
}