:root {
	--windowBorderRadius: 6px;
	--window-border-radius: var(--windowBorderRadius);
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", sans-serif;
	height: 100vh;
	overflow: hidden;
}

ol, ul {
	list-style: none;
}

.fullWidthUItem {
	width: 100%;
}

:focus {
	outline: none;
}