:root {
	--windowBorderRadius: 8px;
	--window-border-radius: var(--windowBorderRadius);
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

.fullWidthUItem {
	display: block;
	width: 100%;
}

:focus {
	outline: none;
}