#itemList {
	overflow-y: auto;
	width: calc(100% - 12.75rem);
	display: flex;
	flex-wrap: wrap;
}

#itemList>li {
	margin: 1rem;
	padding: 2rem 1rem 1rem 1rem;
	background-color: none;
	border-radius: .25rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	cursor: pointer;
	width: 15rem;
	height: 15rem;
}

#itemList>li:hover,
#itemList>li:focus {
	background: rgba(255, 0, 0, .1);
}

li>figure {
	perspective: 1px;
}

li>figure>svg {
	width: 4rem;
}

li>figure>svg>path {
	transition: all .1s ease-out;
	transform-origin: bottom;
}

li:hover>figure>svg>path:first-of-type {
	transform: rotateX(-15deg) perspective(1px);
}

li:hover>figure>svg>path:last-of-type {
	transform: rotateX(50deg) perspective(1px);
}

#itemList::-webkit-scrollbar {
	background: rgba(var(--windowTitlebarColour), .1);
	border-radius: 0 0 calc(var(--windowBorderRadius) - 2px) 0;
}

#itemList::-webkit-scrollbar-thumb {
	background: rgba(var(--windowTitlebarColour), 1);
	border-radius: 0 0 var(--scrollbarBorderRadius) 0;
}