#menu {
	background-color: rgba(43, 49, 62, 1);
	color: black;
	display: flex;
	padding: 0 .5rem;
	user-select: none;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-app-region: no-drag;
}

#menu>.menuItem {
	cursor: pointer;
	padding: .5rem;
	color: white;
}

#menu>.menuItem:hover {
	background-color: rgba(255, 255, 255, .1);
}

#menu>.menuItem>* {
	display: inline-block;
}

#menu>.menuItem>.menuItemFirstLetter {
	text-decoration: underline;
}

#menu>.menuItem>.menuItemRest {
	color: currentColor;
}