#menu {
	background-color: #F9F9F9;
	color: black;
	position: absolute;
	top: 2.25rem;
	left: 0;
	right: 0;
	display: flex;
	padding: 0 .5rem;
	user-select: none;
}

#menu>.menuItem {
	cursor: pointer;
	padding: .25rem;
	padding-left: .5rem;
	padding-right: .5rem;
}

#menu>.menuItem:hover {
	background-color: green;
}

#menu>.menuItem>* {
	display: inline-block;
}

#menu>.menuItem>.menuItemFirstLetter {
	color: red;
}

#menu>.menuItem>.menuItemRest {
	color: blue;
}