#tabbar {
	color: black;
	display: flex;
	user-select: none;
	-webkit-app-region: no-drag;
	height: 2.5rem;
	margin-left: -.5rem;
}

#tabbar>.tab {
	cursor: pointer;
	padding: .75rem;
	padding-top: .25rem;
	color: white;
	min-width: 8rem;
	width: 8rem;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
	opacity: .5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#tabbar>.tab:hover,
#tabbar>.tab:focus {
	background-color: rgb(var(--windowTitlebarColourLight));
	opacity: 1;
}

#tabbar>.tab.open {
	width: unset;
	overflow: unset;
	white-space: unset;
	text-overflow: unset;
}

#tabbar>.tab>* {
	display: inline-block;
}

#tabbar>.tab>.menuItemFirstLetter {
	text-decoration: underline;
}

#tabbar>.tab>.menuItemRest {
	color: currentColor;
}