:root {
	--windowTitlebarHeight: 5rem;
	--window-titlebar-height: var(--windowTitlebarHeight);
}

#titlebar {
	background-color: rgba(53, 59, 72, 1);
	color: rgb(200, 200, 200);
	display: flex;
	justify-content: space-between;
	user-select: none;
	-webkit-app-region: drag;
	overflow: hidden;
	position: relative;
	height: var(--windowTitlebarHeight);
}

#appContainer:not(.fullscreen) #titlebar {
	border-radius: var(--windowBorderRadius) var(--windowBorderRadius) 0 0;
	background-color: rgba(53, 59, 72, .8);
}

#titlebar>#titlebarIcon {
	width: 1.5rem;
	height: 1.5rem;
	margin: .5rem;
	filter: invert(1);
}

#titlebar>#title {
	font-size: 1rem;
	font-weight: 500;
	cursor: default;
	padding: .5rem 1rem .5rem 0;
	width: 100vw;
}

#titlebar>#titlebarButtons {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	filter: invert(1);
}

#titlebar>#titlebarButtons>button {
	border: none;
	height: 2.25rem;
	width: 1.75rem;
	-webkit-app-region: no-drag;
	opacity: .8;
	background: url("../images/button.png") no-repeat center center;
	background-size: 100%;
	transition: all .1s ease;
}

#titlebar>#titlebarButtons>button:hover {
	opacity: 1;
	padding: .75rem;
}

#titlebar>#titlebarButtons>#minimise:hover {
	background: url("../images/minimise.png") no-repeat center center;
	background-size: 60%;
}

#titlebar>#titlebarButtons>#maximise:hover {
	background: url("../images/maximise.png") no-repeat center center;
	background-size: 60%;
}

#titlebar>#titlebarButtons>#close {
	margin-right: .25rem;
}

#titlebar>#titlebarButtons>#close:hover {
	background: url("../images/close.png") no-repeat center center;
	background-size: 60%;
}