#titlebar {
	background-color: rgba(249, 249, 249, .8);
	color: rgb(50, 50, 50);
	display: flex;
	justify-content: space-between;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 4px 4px 0 0;
	-webkit-app-region: drag;
	overflow: hidden;
}

#titlebar>#title {
	font-size: 1rem;
	font-weight: 500;
	cursor: default;
	padding: .5rem 1rem;
}

#titlebar>#titlebarButtons {
	display: flex;
	align-items: center;
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 .25rem;
	-webkit-app-region: no-drag;
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper:hover {
	padding: 0;
	margin: 0 .25rem;
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper>button {
	width: 1.25rem;
	height: 1.25rem;
	overflow: hidden;
	border: none;
	border-radius: 50%;
	background-color: #F9F9F9;
	cursor: pointer;
	transition: transform .05s ease-out;
	-webkit-app-region: no-drag;
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper:hover>button {
	transform: scale(2.5);
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper>button {
	background-color: #E0E0E0;
	color: #555555;
}

#titlebar>#titlebarButtons>.titlebarButtonWrapper>button:hover {
	box-shadow: 0 0 0 .1rem rgba(0, 0, 0, .25);
}

#titlebar>#titlebarButtons>#close>button:hover {
	background-color: rgb(255, 51, 95);
	color: white;
}