#viewport {
	background: #F9F9F9;
	width: 100%;
	height: calc(100% - var(--windowTitlebarHeight));
	--scrollbarBorderRadius: 0;
	--scrollbar-border-radius: var(--scrollbarBorderRadius);
	display: flex;
}

#appContainer:not(.fullscreen) #viewport {
	border-radius: 0 0 var(--windowBorderRadius) var(--windowBorderRadius);
}